version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/Project"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
    target-branch: "dev"
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

